<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="tests/Html/bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        strict="true"
        verbose="true">

    <testsuites>
        <testsuite name="Core">
            <file>tests/Html/SameTest.php</file>
        </testsuite>
    </testsuites>
	
</phpunit>